<div class="row text-center header-row">
    <h1>IoT Game Leaderboard</h1>
</div>
<div class="row body-row">
    <div class="row">
        <div class="col-sm-10 offset-sm-1">
            <div class="card t-card">
                <div class="card-block t-block">
                        <div class="row t-h">
                            <div class="col-sm-1 text-center">
                                <p>Position</p>
                            </div>
                            <div class="col-sm-6 text-center">
                                <p>Name</p>
                            </div>
                            <div class="col-sm-1 text-center">
                                <p>Score</p>
                            </div>
                            <div class="col-sm-4 text-center">
                                <p>Rounds Completed</p>
                            </div>
                        </div>
                            
                </div>
                <ul class="list-group list-group-flush ">
                    <li *ngFor="let score of scores; let i = index;" class="list-group-item">
                        <div class="row">
                            <div class="col-sm-1 text-center">
                                <p>{{i + 1}}</p>
                            </div>
                            <div class="col-sm-6 text-center">
                                <p>{{score.name}}</p>
                            </div>
                            <div class="col-sm-1 text-center">
                                <p>{{score.score}}</p>
                            </div>
                            <div class="col-sm-4 text-center">
                                <p>3</p>
                            </div>
                        </div>
                        
                    </li>
                </ul>
            </div>  
        </div>
    </div>
</div>
