.header-row{
    text-align: center;
    height: 30vh;
    background: #29374f;
    color: white;
    padding: 20px;
}
.header-row h1{
    font-weight: 200;
}

.body-row{
    background: #eceff4;
    text-align: center;
    height: 70vh;
}
.t-card{
    margin-top: -10vh;
    border: none;
    max-height: 70vh;
}
.t-card p{
    margin-bottom: 0;   
}
.t-h{
    background: #99a1b3;
    color: white;
    margin: 0;
    padding: 10px 0;
}
.t-block{
    padding: 0;
}
