.sebm-google-map-container {
    height: 50vh;
    border-radius: .25rem !important;
    overflow: hidden;
}
.vid{
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 0;
}

.in-c{
    max-width: 70%;
    height: auto;
    margin: 0 auto;
}

.outer-row{
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.lpad5{
    padding-left: 5px;
}

.title-box{
    border-bottom: 1px solid black;
    text-align: center;
}
.title-box h4{
    margin-bottom: 0;
}

.selected-card{
    border: 1px solid #5bc0de;
    transform: scale(1.1) translateY(-5px);
    transition: transform .5s;
}

.green{
    background: rgba(92, 184, 92, 0.6);
    transition: background 1s;
}
.black{
    background: rgba(217, 83, 79, 0.6);
    transition: background 1s;
}
.yellow{
    background: rgba(240, 173, 78, 0.6);
    transition: background 1s;
}
.text-center{
    text-align: center;
}

.options-panel {
    height: 43.5vh;
/*    background: #3a4149;*/
    background: url('assets/img/game_control_panel_texture_bg.jpg');
    color: white;
    overflow: hidden;
}
.move.done{
    animation-name: done;
    animation-duration: 2s;
}
.move.doneRound{
    animation-name: doneRound;
    animation-duration: 5s;
}
.options-block{
/*    background: #3a4149;*/
    color: white;
}

.choices-panel{
    background: rgba(0,0,0,.25);
}
.choices-panel .card-block{
    padding-top: 0;   
}

.options-panel p{
    margin: 0;   
}
.status-panel{
    background: #f4f4f4;
    color: #4e5664;
    height: 43.5vh;
}

.or-divider{
    margin-top: 30px;
    margin-bottom: 30px;
}
.m-minus-top{
    margin-top: -10px;
}
.or-line {    
/*    width: 100%;*/
    height: 4px;
    position: relative;
    border-top: 1px solid #9aa1ab;
    border-bottom: 1px solid #9aa1ab;
}

.cor-line {    
    width: 100%;
    height: 6px;
    position: relative;
    border-top: 1px dotted #9aa1ab;
    border-bottom: 1px dotted #9aa1ab;
}
.con-circle {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    height: 40px;
    background-color: #f4f4f4;
    position: absolute;
    top: -20px;
    left: calc(50% - 15%);
    line-height: 40px;
    font-weight: 300;
    color: #58679c;
    font-size: 150%; 
}

.status-divider {    
    width: 100%;
    height: 4px;
    position: relative;
    border-top: 1px dotted #9aa1ab;
    border-bottom: 1px dotted #9aa1ab;
}
.circle {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 40px;
    background-color: #3a4149;
    position: absolute;
    top: -20px;
    left: calc(50% - 10%);
    line-height: 40px;
    font-weight: 100;
    color: white;  
}

.icon-container{
    border: 3px solid #c4cdda;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}
.icon-container i{
    font-size: 45px;
    line-height: 70px;
}
.force-center{
    margin: 0 auto;
}

.v-margin{
    margin-bottom: 10px;
    margin-top: 10px;
}

.fa-lightbulb-o{
    color: #fce791;
}
.fa-fire{
    color: #db7e80;
}
.choice{
    padding: 12px;
    font-size: 0.7rem;
}
.choice-a{
    
    color: white;
    background: #7bc471;  
}
.choice-b{
    color: white;
    background: #646464;
}
.choice-c{
    color: #8e917d;
    background: #eef5d3;
}

.location-icon i{
    font-size: 600%;
}

.timer {
      display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border: solid 10px #e8e8e8;
    border-radius: 50%;
    line-height: 35px;
    font-weight: 600;
    color: #380f15;
    text-align: center;
}

/*TIMER*/
.item {
    position: relative;
    float: left;
}

.item h2 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}
.item p {
    text-align:center;
    position: absolute;
    line-height: 195px;
    width: 100%;
    color: #f76970;
}

svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.circle_animation {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
  transition: all 1s linear;
}
/*END TIMER*/

.rounds{
    text-align: center;
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.round{
    text-align: center;
    position: absolute;
    line-height: 46px;
    width: 100%;
}
.round-text{
    text-align: center;
    position: absolute;
    top: 30px;
    width: 100%;
    font-size: 9px;
}
.rounds-icon{
    margin: 10px;
}
.load-round{
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}
.load-round.doneRound{
    animation-name: loading;
    animation-duration: 5s;
}
.load-round.doneRound:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;    
  }
}

.modal-box{
    position: absolute;
    top: 5vh;
    left: 10vw;
    width: 80vw;
    height: 90vh;
    background: #f4f4f4;
    border-radius: 25px;
    padding: 40px 20px;
    z-index: 2;
}

.rounds-completed{
    color: #757b87;
    background: #b4bac6;
}
.score{
    color: #b4bac6;
    background: #757b87;
}
.no-margin{
    color: white;
    margin: 0;
    margin-top: .5rem;
}
.mmarg{
    margin-bottom: .5rem;
}
.tweet{
    background: #f6a543;
    color: white;
}
.anim-marker{
    transform: scale(0.65);
    transition-property: background;
    transition-duration: 2s;
    height: 100px;
    width: 100px;
    background: rgba(0,0,0,0);
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 20%; 
}
.anim-marker2{
    transform: scale(0.65);
    transition-property: background;
    transition-duration: 2s;
    height: 150px;
    width: 150px;
    background: blue;
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    top: 10%;
    left: 20%; 
    animation-name: shrink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.valign{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    margin: 0 auto;
}

.mstatus1{
    background: red;
}
.mstatus2{
    background: orange;
}
.mstatus3{
    background: yellow;
}
.mstatus4{
    background: lime;
}
.mstatus5{
    background: green;
}

.panel-fade{
    opacity: 0;
    background: white;
    color: black;
    text-align: center;
    position: absolute;
    top: 30vh;
    left: 25%;
    width: 50%;
    z-index: 1;
    border-radius: 5px;
    padding: 20px 0;
}
.panel-fade.done{
    animation-name: fade;
    animation-duration: 2s;
}
.panel-fade.doneRound{
    animation-name: fade;
    animation-duration: 2s;
}

/*ANIMATIONS*/
@keyframes done {
    0%   {transform: translateX(0);}
    50% {
        transform: translateX(-100%);
        opacity: 0;
        }
    51% {
        transform: translateX(100%);
        opacity: 0;
        }
    100% {
        transform: translateX(0);
        opacity: 1;
        }
}
@keyframes doneRound {
    0%   {transform: translateX(0);}
    25% {
        transform: translateX(-100%);
        opacity: 0;
        }
    81% {
        transform: translateX(100%);
        opacity: 0;
        }
    100% {
        transform: translateX(0);
        opacity: 1;
        }
}
@keyframes loading {
    0%   {opacity: 0;}
    25%  {opacity: 1;}
    75%  {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes shrink {
    0%   {opacity: 0;
          margin-left: -25px;
          margin-top: -25px;
         }
    30% {
        opacity: 1;
    }
    100% {width: 200px;
          height: 200px;
          margin-left: -50px;
          margin-top: -50px;
          opacity: 0;}
}
@keyframes fade {
    0%   {opacity: 0;
          transform: translateY(-100%)}
    25%  {opacity: 1;
          transform: translateY(0%)}
    75%  {opacity: 1;}
    100% {opacity: 0;}
}