<div class="row vid outer-row" *ngIf="!showMap">
    <div class="col-xs-12 text-center">
        <video width="100%" autoplay>
          <source src="assets/img/Googlenext.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>
    </div>
</div>
<div class="row outer-row">
    <div class="col-xs-12">
        <sebm-google-map [latitude]="latlong.lat" [longitude]="latlong.lng" 
                         [zoom]="zoom" 
                         [mapDraggable]="false" 
                         [scrollwheel]="false"
                         [disableDefaultUI]="true"
                         [disableDoubleClickZoom]="true"
                         [styles]="styles">
        </sebm-google-map>
    </div>
    <div class="anim-marker">
        <img class="img-fluid in-c" src="assets/img/factory_google_maps.png" />
    </div>
<div class="anim-marker2" [ngClass]="mStatusClass"></div>
</div>


<div class="panel-fade" [ngClass]="statusClass">
    <span *ngIf="best == 2">
        <p>Good work!</p>
        <p>Fixing the {{selection.name}} was the right thing to do</p>
    </span>
    <span *ngIf="best == 1">
        <p>Almost there!</p>
        <p>Fixing the {{selection.name}} was the good but not best.</p>
    </span>
    <span *ngIf="best == 0">
        <p>Try harder!</p>
        <p>Fixing the {{selection.name}} was the least effective thing to do</p>
    </span>
    
</div> 

<div class="row outer-row">
    <div class="col-sm-8">
        <div class="card options-panel">
          <div class="card-block options-block">
             
            <div class="col-sm-12">
                <div class="row text-center">
                    <div class="col-sm-5 or-line text-center">
                         
                    </div>
                     <div class="col-sm-2 m-minus-top">
                        ROUND {{round}}
                     </div>
                      <div class="col-sm-5 or-line text-center">
                         
                    </div>
                </div>
                <br>
                <div class="load-round" [ngClass]="statusClass">
                    Loading Round {{round}}
                </div>
                <div class="move" [ngClass]="statusClass">
                    <div class="row">
                    <div class="col-sm-4" *ngFor="let issue of issues">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="icon-container force-center">
                                    
                                    <i *ngIf="!issue.icon.isImg" class="fa" [ngClass]="issue.icon.src" aria-hidden="true"></i>
                                    <img class="img-fluid valign" *ngIf="issue.icon.isImg" [src]="issue.icon.src" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <p>{{issue.name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <p class="small">{{issue.spec_issue.Desc}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card choices-panel">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-sm-12 text-center v-margin">
                                        <p>Do you want to...</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="col-sm-4" *ngFor="let issue of issues; let i = index">
                                            <button *ngIf="i==0" (click)="doAction('green')" class="btn btn-block choice choice-a">
                                                Fix the {{issue.name}}
                                            </button>
                                            <button *ngIf="i==1" (click)="doAction('black')" class="btn btn-block choice choice-b">
                                                Resolve {{issue.name}}
                                            </button>
                                            <button *ngIf="i==2" (click)="doAction('yellow')" class="btn btn-block choice choice-c">
                                                Fix the {{issue.name}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                  
            </div>
          </div>
        </div>
    </div>
    
    
    <div class="col-sm-4 lpad-5">
        <div class="card status-panel">
            <div class="card-block">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Current round timer</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7">
<!--                        <img class="img-fluid" src="assets/img/Countdown.png">-->
                        <div class="item">
                            <h2>{{timer}}</h2>
                            <p>seconds left</p>
                            <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                             <g>
                              <title>Layer 1</title>
                              <circle id="circle" 
                                      r="69.85699" 
                                      cy="81" 
                                      cx="81" 
                                      stroke-width="8" 
                                      stroke="#e8e8e8" 
                                      fill="none"/>     
                              <circle id="circle" 
                                      class="circle_animation" 
                                      r="69.85699" 
                                      cy="81" 
                                      cx="81" 
                                      stroke-width="8" 
                                      stroke="#f36c6d" 
                                      fill="none"
                                      [style.stroke-dashoffset]="stroke" />
                             </g>
                            </svg>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-8 offset-md-2">
                                <div class="rounds">
                                    <p class="round">{{round - 1}}</p>
                                    <p class="round-text">round/s completed</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 offset-md-2">
                                <div class="rounds">
                                    <i class="fa fa-industry rounds-icon" aria-hidden="true"></i>
                                    <p class="round-text">Current location: Factory</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 status-divider"></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h5>Hints</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p class="small">Cloud systems are reporting major problems that need your attention. Analyse the data provided and choose your answer wisely - resources are running low!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-box" *ngIf="showModal">
    <div class="container" *ngIf="won">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="cor-line">
                    <div class="con-circle">
                        Congratulations
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center">
                <img class="img-fluid" src="assets/img/pc.jpg" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center">
                <p>Well Done! You resolved major issues at all of the company's main
                locations and prevented critical systems from going down and important I.T. services compromised.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center">
                <div class="col-xs-6 rounds-completed text-center">
                    <p class="no-margin">{{round}}</p>
                    <p class="small mmarg">Rounds completed</p>
                </div>
                <div class="col-xs-6 score text-center">
                    <p class="no-margin">{{points}}</p>
                    <p class="small mmarg">Score</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center">
                <div class="col-xs-6 offset-sm-3 text-center">
                    <button (click)="goToLB()" class="btn btn-block tweet">TWEET YOUR RESULT</button>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="container" *ngIf="!won">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="cor-line">
                    <div class="con-circle">
                        Ran out of time!
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center">
                <img class="img-fluid" src="assets/img/pc.jpg" />
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center">
                <p>Well Done! You resolved some of the issues but not all.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center">
                <div class="col-xs-6 rounds-completed text-center">
                    <p class="no-margin">{{round - 1}}</p>
                    <p class="small mmarg">Rounds completed</p>
                </div>
                <div class="col-xs-6 score text-center">
                    <p class="no-margin">{{points}}</p>
                    <p class="small mmarg">Score</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center">
                <div class="col-xs-6 offset-sm-3 text-center">
                    <button (click)="goToLB()" class="btn btn-block tweet">TWEET YOUR RESULT</button>
                </div>
            </div>
        </div>
    </div>
    
</div>