<!--
<div class="row">
    <div class="col-xs-12">
        <img class="img-fluid" src="assets/img/Instructions_Screen.jpg">
    </div>
</div>
<button (click)="login($event)" class="btn btn-primary btn-block">Continue</button>
-->






<div id="wrapper" class="bg-medium-blue">
	<section class="bg-dark-blue text-center">
		<div class="row">
			<div class="col-sm-3 offset-sm-1 or-line text-center"></div>
			<div class="col-sm-4 m-minus-top"><h1>Demo</h1></div>
			<div class="col-sm-3 or-line text-center"></div>
		</div>
		<div class="row">
			<img class="iot-graphic" src="assets/img/login/iot.png" alt="IoT Game" />
		</div> <!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<p>You are the head engineer of a company who have implemented a number of IoT devices at various locations around the globe and are using Cloud technology to retrieve data from these devices.</p>
				
				<i class="fa fa-ellipsis-h" aria-hidden="true"></i>

				<h4><b>How To Play</b></h4>
				<ol>
					<li><b>Analyse</b> issues flagged by IoT devices at various locations.</li>
					<li>Use the buttons in front of you to <b>decide</b> on the best action to be taken.</li>
					<li>Solve as many issues as possible within the <b>time limit</b>.</li>
				</ol>
				<button (click)="login($event)" class="btn btn-default">start game</button>
			</div>
		</div> <!-- /.row -->	
	</section>
	<!--<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Brought to you by</p>
				<img class="pa-logo" src="img/global/logos/pa_logo.png" alt="PA Consulting" />
				<p class="small">in association with</p>
				<img class="rentokil-logo" src="img/global/logos/rentokil_logo.png" alt="Rentokil" />
			</div>
		</div>
	</footer>--> 
</div> <!-- /#wrapper -->	
