.iot-graphic {
	width: 150px;
	height: 150px;
	margin: 30px 0;
}
p {
	margin-bottom: 0;
}
/*** BUTTON ***/
.btn {
	width: 280px;
}

.fa-ellipsis-h {
	margin: 15px auto;
	font-size: 35px;
}
/*** HOW TO PLAY ***/
h4 {
	font-size: 24px;
	color: #fff;
	margin-bottom: 0;
}
ol {
	margin: 40px 0;
}
ol li {
	margin-bottom: 20px;
}