/* You can add global styles to this file, and also import other style files */

body{
    background: #dfdedf;
    overflow-x: hidden;
}




/* Import font Lato */
@import "https://fonts.googleapis.com/css?family=Open%20Sans:300,400,500,600";
	
/*!
 * Built on...
 * Start Bootstrap - Creative Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
html {
    width: 100%;
    height: 100%;
}
html {
	overflow: hidden;
}
/*** GENERIC ***/
#wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 30px;
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}
h1 {
	font-weight: 500;
}
p {
    margin-bottom: 20px;
}
b {
	font-weight: 600;
}
/***** BRANDING and COLOURS *****/
h1, h2, h3, h4 {
	color: #1a304a;
}
.bg-dark-blue {
	background: #14233c;
}
.bg-medium-blue {
	background: #293650;
}
.bg-grey {
	background: #eceff4;
}
/*** BORDERS & DIVIDERS ***/
hr {
	width: 100%;
	height: 1px;
	margin: 40px auto;
}
hr.no-margin {
	margin: 0 auto;
}
hr.light {
	background: rgba(255,255,255,0.6);
}
h1.light::after{
	background: rgba(255,255,255,0.7);
}
h1.hr-left::after {
	margin-left: 0;
	margin-right: 0;
}
hr.narrow, h1::after {
	width: 70px;
	height: 2px;
	background: rgba(35,62,81,0.7);
}
hr.left {
	margin-left: 0;
	margin-right: 0;
}
.or-line {
    border-bottom: 0.2em dotted #dce8ff;
    border-top: 0.2em dotted #dce8ff;
    height: 8px;
    position: relative;
}
.m-minus-top {
    margin-top: -20px;
}
/*** BUTTONS ***/
.btn {
	height: 70px;
	background: transparent;
	font-size: 18px;
	color: #dce8ff;
	font-weight: bold;
	border: 1px solid #dce8ff;
	border-radius: 12px;
	text-transform: uppercase;
	transition: all .25s;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
}
.btn:hover {
	background: #f6f6f6;
	color: #222;
}
/*** PADDING ***/
.section-heading, .article-heading {
    margin-top: 0;
}
.article-heading {
	margin-bottom: 35px;
}
.padding-top {
	padding-top: 60px;
}
.padding {
	padding: 100px 0;
}
.padding-small {
	padding: 70px 0;
}
.padding-top-small {
	padding-top: 30px;
}
.padding-bottom-small {
	padding-bottom: 50px;
}
.no-padding {
    padding: 0;
}
.no-margin {
	margin: 0;
}
.no-padding-top {
    padding-top: 0;
}
.no-padding-bottom {
    padding-bottom: 0;
}
/***** MOBILE HELPER CLASS *****/
.mobile {
	display: block;
}
.tablet-and-desktop {
	display: none;
}
.desktop {
	display: none;
}
@media(min-width:768px) {
.mobile {
	display: none;
}
.tablet-and-desktop {
	display: block;
}
}
@media(min-width:992px) {
.desktop {
	display: block;
}
}
.text-align {
	text-align: center;
}
@media(min-width:992px) {
.text-align {
	text-align: left;
}
}
/***** Login and instructions styles *****/
section {
	width: 45%;
	margin: 0 auto 20px;
	padding: 45px 30px;
	text-align: center;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
@media(min-width:1368px) {
section {
	width: 34%;
}
}
section h1 {
	color: #dce8ff;
	font-size: 38px;
}
/*** FOOTER ***/
footer {
	font-size: 16px;
	text-align: center;
}
footer .pa-logo  {
	width: 50px;
	height: 46px;
	margin-bottom: 5px;
}
footer .rentokil-logo  {
	width: 90px;
	height: 39px;
}
footer p.small {
	margin-top: 10px;
	margin-bottom: 10px;
}

/***** OTHER *****/
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
::-moz-selection {   
	background: #233e51;
	color: #fff;
	text-shadow: none;
}
::selection {  
    color: #fff;
    background: #233e51;
	text-shadow: none;
}
img::selection { 
    background: #233e51;
	color: #fff;
}
img::-moz-selection {
    color: #fff;
    background: #233e51;
}
body {
    webkit-tap-highlight-color: #ffffff;
}