.iot-graphic {
	width: 180px;
	height: 180px;
	margin: 45px 0;
}
/***** FORM *****/
.input-group {
	margin-bottom: 20px;
	position: relative;
	border-radius: 10px;
	height: 60px;
}
.form-control {
	font-size: 20px;
	padding-left: 20px;
}
.input-group, .form-control {
	height: 60px;
}
.input-group-addon {
	background: #7387a9;
	color: #fff;
	font-size: 24px;
	padding: 0 20px;
	background: #516483;
}
.form-control, .form-control:focus {
	background: #7387a9;
	color: #fff;
	border: none;
}
.form-control::placeholder {
	color: #fff;
}
.form-control::-webkit-placeholder {
	color: #fff;
}
.form-control::-moz-placeholder {
	color: #fff;
}
/*** BUTTON ***/
.btn {
	width: 100%;
}
@media(min-width:768px) {
	.btn-submit {
		margin-bottom: 30px;
	}
}