<div id="wrapper" class="bg-medium-blue">
	<section class="bg-dark-blue text-center">
		<div class="row">
			<div class="col-sm-3 offset-sm-1 or-line"></div>
			<div class="col-sm-4 m-minus-top"><h1>Demo</h1></div>
			<div class="col-sm-3 or-line"></div>
		</div>
		<div class="row">
			<img class="iot-graphic" src="assets/img/login/iot.png" alt="IoT Game" />
		</div> <!-- /.row -->
		<div class="row">
			<div id="form" class="col-lg-12">			
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><i class="fa fa-user" aria-hidden="true"></i>
</span>
					<input type="text" class="form-control" [(ngModel)]="name" name="name" placeholder="Name" aria-describedby="basic-addon1">
				</div>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><i class="fa fa-twitter" aria-hidden="true"></i>
</span>
					<input type="text" class="form-control" [(ngModel)]="twitter_handle" name="twitter_handle" placeholder="@TwitterHandle" aria-describedby="basic-addon1">
				</div>
				<button (click)="login($event)" class="btn btn-default">Enter</button>				
			</div>
		</div> <!-- /.row -->	
	</section>
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Brought to you by</p>
				<img class="pa-logo" src="assets/img/global/logos/pa_logo.png" alt="PA Consulting" />
				<p class="small">in association with</p>
				<img class="rentokil-logo" src="assets/img/global/logos/rentokil_logo.png" alt="Rentokil" />
			</div>
		</div> <!-- /.row -->
	</footer> 
</div> <!-- /#wrapper -->
